body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* responsive padding */
.container {
  padding: 20px;

  /* additional styles for larger screens */
  @screen md {
    padding: 40px;
  }
}

.quote-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.tag-dropdown {
  margin-bottom: 20px;
}

.bookmarked-quote {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid #4caf50;
}